* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-weight: 300;
}

html,
body {
  width: 100%;
  word-break: keep-all;
}

body {
  min-width: 360px;
}

h1 {
  font-size: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol,
li {
  list-style: none;
}

.skip {
  position: absolute;
  color: #fff;
  top: -100%;
  left: -100%;
  z-index: 10;
  font-size: 15px;
  background: inherit;
  letter-spacing: 1px;
}

.skip:focus {
  top: 3px;
  left: 3px;
}